.ana-ext-title {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

.btn-link-clinica {
    padding: 2px;
    color: #f6993f !important;
}

.titleBancaIngreso{
    text-align: center;
    padding-bottom: 4px;
    font-weight: 700;
}

.banca_seccion{
    background-color: #72BEE0;
}

.row-citologia{
    margin-bottom: 2px;
}

.row-citologia dt{
    font-size: 16px;
}

.row-citologia dd{
    font-size: 16px;
}

.p-cito-resultado{
    font-size: .90rem;
    padding: 2px 4px;
    margin: 0;
}

.h5-cito-titulo{
    text-align: center;
    font-weight: 700;
    color: #FF9500;
}

.h6-cito-titulo{
    text-align: center;
    font-weight: 700;
    color: #FF9500;
}

.table-cito thead tr th{
    text-align: center !important;
}

.table-cito tbody tr td dl dt, dd {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.table-cito tbody tr td dl dd {
    text-align: right;
}

.i-codigo {
    color: #FF9500 !important;
    font-weight: bold;
    border: solid 1px #FF9500;
    text-align: center;
}

.btn-clinica{
    padding: 2px 2px !important;
}

.table-clinica tr td{
    padding: 2px 5px !important;
    color: #012035;
    font-size: .62rem;
}

.table-clinica thead tr th{
    font-size: 0.5rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 12px;
}

.p-estado-red{
    padding: 2px 5px !important;
    color: red;
    font-size: .7rem;
}

.m-pago-p div div p{
    padding: 2px 5px !important;
    margin-bottom: 2px !important;
    color: #012035;
    font-size: .8rem;
}

.ul-clinica-errors li{
    font-size: .78rem;
    color: red;
}

.row-biopsia div label{
    color: #012035;
    font-size: .9rem;
    font-weight: bold;
}

.row-biopsia div div{
    border: solid 1px #888888;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.h7-cito-titulo{
    font-weight: 700;
    color: #0B0D33;
}

.table-clinica tfoot tr {
    background-color: #343a40;
}

.table-clinica tfoot tr td{
    color: #fff;
    font-weight: 700;
}

.dropdown div ul li{
    padding-left: 10px;
}
.dropdown div ul li a i{
    font-size: 16px !important;
}

.dropdown div ul li a i{
    font-size: 16px !important;
}

.label-clinica{
    color: #f6993f !important;
    font-size: 1rem !important;
}

.form-sin-border{
    border: none !important;
}

.form-sin-border:focus{
    box-shadow: none !important;
}

.form-control:focus{
    box-shadow: 0 0 0 0.1rem rgba(52, 144, 220, 0.25);
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 0.1rem
    rgba(108, 178, 235, 0.5);
}

.form-check-sign-black:before {
    color: #ffc107 !important;
}

.form-check-sign-black:after {
    color: #ffc107 !important;
}